@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #111827;
  --primary: #2563EB;
  --secondary: #6EE7B7;
  --text-primary: #1F2937;
  --text-secondary: #6B7280;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-sans) !important;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: var(--font-sans) !important;
  background: var(--background) !important;
}

.react-calendar__tile--now {
  background: var(--secondary) !important;
  border-radius: 10px !important;
  font-weight: bold !important;
}

.react-calendar__tile--active {
  font-weight: bold !important;
  background: var(--primary) !important;
  border-radius: 10px !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 800 !important;
}